
*{
 font-size: 14px; 
}
section{
  width: 600px;
  border: 1px solid gray;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 3px;
}
section:hover{
  background-color: rgb(244, 244, 237);
  cursor:pointer
}


/* Profile image */
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* ProfileName */
.profile-title a{
font-weight: bold;
}
.profile-name a{
  color: rgb(173, 181, 187);
}